<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993530778156-rm3fa1r1mf9oav7nu2cgccuqlbilh8td.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993530778156-rm3fa1r1mf9oav7nu2cgccuqlbilh8td</string>
	<key>API_KEY</key>
	<string>AIzaSyCnMAABo28XUOk6uenLbDDY-5_xcza9M9w</string>
	<key>GCM_SENDER_ID</key>
	<string>993530778156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hynam.CreditCardList</string>
	<key>PROJECT_ID</key>
	<string>creditcardlist-114ac</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcardlist-114ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993530778156:ios:c024dd33a65a3af2217789</string>
</dict>
</plist>